<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>com.twitter.twitter-iphone</key>
					<string>https://dl.dropboxusercontent.com/content_link/WctV3dTXK0LSr7U8DoM9sSkyIJH6IuNqxDWpwFmUCBLecUlXFtImChxDUWlAvWKl/file?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>com.atebits.Tweetie2</key>
				<string>com.atebits.Tweetie2</string>
				<key>b1.1.5</key>
				<string>11.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>41A472</string>
				<key>title</key>
				<string>Twitter++</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
