<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>items</key>
 <array>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>  <string>http://download1514.mediafire.com/hm3rt1ovkmsg/1sd4lf3jb9jvlk3/TwitterPlus_v7.22.3_T1.2r-72.ipa</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>
    <string>com.sparkapp.twitter++</string>
    <key>bundle-version</key>
    <string>1.0</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>
    <string>Twitter++-Gaurav</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>